[Unit]
Description=Timer for PufferPanel Automated Minecraft Backup (Every 6 Hours with 3-File Rotation)

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00
Persistent=true

[Install]
WantedBy=timers.target
